/* This is the css for the website defaults */

@font-face {
    font-family: "Geist"; /* Replace with your font's name */
    src: url(/assets/fonts/Geist/Geist[wght].woff2) format("woff2");
    font-weight: 100 1000; /* Define the weight range of the variable font */
    font-style: normal; /* Or 'italic' if applicable */
}

* {
    padding: 0;
    margin: 0;
    font-family: "Geist", Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    height: 1000vh; /* Scrollable page, remove if you actually have content */
}
a {
    color: black;
}
h1 {
    font-size: 5rem;
    font-weight: 700;
}
p {
    font-size: 1.2rem;
    font-weight: 400;
}
